.dropdown-element{
	width: 100%;
	height: 25px;
	
	background-color: var(--bg-input);
	
	border: 2px solid var(--border-main);
	border-radius: var(--border-radius);
	
	color: var(--text-dark);
	cursor: pointer;
	transition: border-color 0.3s, box-shadow 0.3s;

}

.dropdown-element:hover {
  border-color: var(--color-main-contrast-lighter);
}

.dropdown-element:focus {
  border-color: var(--border-focus);
  box-shadow: var(--shadow-focus);
  outline: none;
}