/* --- Special Elements --- */
#frame-select .image-row{
	grid-template-columns: repeat(7,auto);
	max-height: 20vh;
	overflow: auto;
}

#art-select .image-row{
	grid-template-columns: repeat(5, 20%);
	max-height: 25vh;
	overflow: auto;
}

#frame-select canvas {
	min-width: 40px;
	min-height: 40px;
	max-width: 200px;
	max-height: 100px;
}

#art-select canvas {
	min-width: 50px;
	min-height: 50px;
	max-width: 95px;
	max-height: 95px;
}

/* --- Config: Standard Selection (Frame, Art) --- */

.standard-image-selection.image-row{
	text-align: center;	
}

.standard-image-selection .container-selection-option {
	display: inline-block;
	z-index: 1;
	
	align-items: center;
	justify-content: center;
	position: relative; /* For checkmark positioning */
	padding: 3px;
	flex-wrap: wrap;
  
	border: 2px solid var(--color-background-dark-lighter); 
	border-radius: var(--standard-border-radius);
}

.standard-image-selection .container-selection-option.hoverable-border:hover{
	border-color: var(--color-main-contrast-lighter);
}

.standard-image-selection .container-selection-option.selected  {
	border-color: var(--color-main-contrast);
}

.standard-image-selection .container-selection-option.selected::after {
	content: "✓";

	position: absolute;
	bottom: 0px;
	right: 0px;

	color: var(--color-main-contrast);
	font-size: 32px;
	font-weight: bold;

	z-index: 1; 
}

.standard-image-selection canvas {
	z-index: 0;
	width: 100%;
}


