/* UNUSED (no references found in HTML/Scala/JS). Temporarily commented out for validation before deletion.

@import url('colors.css');

#cost-selector > .editor-content{
        width: 100%;
}

#cost-selector .image-row{
	display: grid;		
	justify-content: center;
}

/* --- SHOW RESULTS --- * /


#cost-builder-show-result{
	display: flex;
	overflow: auto;
	
	max-width: 100%;
	width: 100%;
	height: 50px;
	
	justify-content: center;
        background-color: var(--color-interaction-background-alt);
}

#cost-builder-show-result canvas {
	min-width: 20px;
	min-height: 20px;
	max-width: 45px;
	max-height: 45px;
	
	width: 100%;
	
}
#cost-builder-show-result .image-row{
	
	align-items: center;
	justify-content: center;
	
	display: flex;
	overflow: auto;
	flex-wrap: no-wrap;
}

/* --- SELECT FROM--- * /

#cost-builder-select-from{
	width: 100%;
	height: 100%;
}

#cost-builder-select-from canvas {
	min-width: 5px;
	min-height: 5px;
	max-width: 100%;
	width: 100%;
}

#cost-builder-select-from .image-row{

	grid-template-columns: repeat(10, 4%);


}

/* --- CHECKBOX ROW --- * /

#cost-selector .checkbox-row{
	display: flex;
	
	height: 25px;
	width: 100%;
	
	justify-content: center;
	align-items: center;
	text-align: center;
	
	gap: 10px; 
}


#cost-selector .checkbox-row input[type="checkbox"] {
	appearance: none; /* Remove default styling * /
	width: 20px;
	height: 20px;

        background-color: var(--color-input-background);
        border: 2px solid var(--color-border);

        cursor: pointer;
        position: relative;

        font-size: var(--fontsize-text);
}

#cost-selector .checkbox-row  input[type="checkbox"]:checked {
        background-color: var(--color-accent-primary);
        border: 2px solid var(--color-border);
}

#cost-selector .checkbox-row  input[type="checkbox"]:checked::after {
        content: "✓";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-on-accent-primary);
}
#cost-selector .checkbox-row label {
        color: var(--color-text-secondary);
}
*/
