QMainWindow, QWidget {
    background: #F2F2F2;
    color: black;
    font-family: Arial;
    font-size: 14px;
}
QPushButton {
    background: #EAEAEA;
    border: 1px solid #C4C4C4;
    color: black;
    padding: 8px 10px;
    border-radius: 0px;
    font-weight: 600;
}
QPushButton:hover{
    background: #D6D6D6;
}
QPushButton:disabled {
    background: #ECECEC;
    color: #777777;
    border: 1px solid #C4C4C4

}
QTreeWidget, QListWidget, QTextBrowser {
    background: #FFFFFF;
    color: black;
    border: 1px solid #000000;
    border-radius: 0px;
    padding: 8px;
    outline: none;
}
QTreeWidget::item, QListWidget::item {
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #DDDDDD;
}
QTreeWidget::item:selected, QListWidget::item:selected {
    background: #EFEFEF;
    color: black;
    border: 1px solid #D0D0D0;
}
QTreeWidget::item:hover, QListWidget::item:hover {
    background: #DDDDDD;
    border: 1px solid #D0D0D0;
}

#mail_label {
    font-size: 16px;
    font-weight: 700;
    color: #272727;
    margin-bottom: 12px;
}
#mail_meta {
    color: #272727;
    margin-bottom: 12px;
}
QTextBrowser {
    color: #272727;
    line-height: 1.5;
}
QToolBar {
    background-color: #272727;
    padding: 8px;
    border: none;
}

QToolButton {
    background-color: #3a3a3a;
    color: white;
    padding: 8px 14px;
    border-radius: 0px;
}
QToolButton:hover {
    background-color: #505050;
}
QStatusBar {
    border-top: 1px solid #272727;
    background-color: #DDDDDD;
    min-height: 22px;
    padding-left: 6px;
}
QStatusBar QLabel {
    background-color: #DDDDDD;
    padding-left: 4px;
    padding-right: 4px;
}

QWidget#Top_bar_left_widget {
    background-color: #DDDDDD;
    border-right: 1px solid #1F1F1F;
}
QWidget#Top_bar_middle_widget {
    background-color: #DDDDDD;
    border-right: 1px solid #1F1F1F;
}

QWidget#Top_bar_right_widget {
    background-color: #DDDDDD;
}

QFrame#top_bar_line {
    background-color: #3A3A3A;
    min-height: 1px;
}

QLabel#attachment_label {
    background-color: #DDDDDD;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
QLabel#folder_title {
    background-color: #DDDDDD;
}
QLabel#folder_count {
    background-color: #DDDDDD;
}
QPushButton{

}





