
@import url("../generic/colors.css");
@import url("../generic/dimensions.css");

.workbook-header {
    background: var(--color-background-colored);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0;
    z-index: 1000;
    margin-bottom: var(--space-xl);

    gap: var(--space-lg);
}

/* HEADER --> TITLE */

.workbook-title-line {
    max-width: var(--workarea-width);
    align-items: center;
    padding-top: var(--space-lg);
}

.workbook-title-line h1 {
    margin: 0;
    padding: 0;
}

/* HEADER --> USER MENU --> EXPANDABLE AREA*/

.workbook-user-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    max-width: 100px;
    max-height: 50px;
    z-index: 20000;
    background: var(--color-background-colored-accented);
    border: var(--space-borders) solid var(--color-background-colored-accented);
    border-radius: var(--radius-lg);
}

.workbook-user-menu-button {
    display: inline-flex;
    align-items: center;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    gap: var(--space-md);
    cursor: pointer;
}

.workbook-user-menu-button:hover,
.workbook-user-menu-button:focus-visible {
    background: var(--color-background-colored);
    border-radius: var(--radius-lg);
    outline: none;
}

.workbook-user-menu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 2;
}

.workbook-user-menu-caret {
    font-weight: 700;
    line-height: 2;
}


/* HEADER --> USER DROPDOWN MENU --> ACTUAL DROPDOWN APPEARANCE */

.workbook-user-menu .dropdown-menu {
    position: absolute;
    top: calc(100% + var(--space-md));
    right: 0;
    z-index: 2000;
    min-width: 220px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: var(--space-borders) solid var(--color-background-colored-accented);
    border-radius: var(--radius-lg);

    overflow: hidden;
}

.workbook-user-menu .dropdown-menu-element {
    width: auto;

    text-align: center;
    z-index: 200;
    border: var(--space-borders) solid;
    border-color: transparent;
}

.workbook-user-menu .dropdown-menu-label {
    background: var(--color-background-colored-accented);
}

.workbook-user-menu .dropdown-menu-item {
    cursor: pointer;
    background: var(--color-background-workarea-display);
}

.workbook-user-menu .dropdown-menu-item:hover,
.workbook-user-menu .dropdown-menu-item:focus-visible {
    background: var(--color-background-colored);
    outline: none;
}


/* HEADER --> LANGUAGE */

.select-language-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: var(--space-md);
}

/* HEADER --> SECTION */

.section-overview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-lg);
    flex-wrap: wrap;
    /*max-width: var(--workarea-width);*/
    justify-items: center;
}

.section-block {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    width: 100%;

    border: var(--space-borders) solid var(--color-background-colored-accented);
    border-radius: var(--space-lg);
    overflow: hidden;
}

.section-block.active{
    border: var(--space-borders) solid var(--color-background-colored-accented-strong);
    font-weight: 600;
}

.section-block-part {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: var(--space-md);
}

.section-block-number {
    font-size: 48px;
    width: 25%;
    background: var(--color-background-colored);
}

.section-block-description {
    font-size: 16px;
    width: 75%;
    background: var(--color-background-workarea-display);
}

.section-block:hover{
    border: var(--space-borders) solid var(--color-background-colored-accented-strong);
}


/* HEADER -> NAVIGATION */

.workbook-header-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;

    background: var(--color-background-colored-accented);

    padding: var(--space-md);
    font-size: 0.75rem;
    border: var(--space-borders) solid var(--color-background-colored-accented);
}

.workbook-header-toggle:hover {
    background: var(--color-background-colored);
    border: var(--space-borders) solid var(--color-background-colored-accented);
}